<a href="https://colab.research.google.com/github/Purvesh-Chitre/Assignment_Tasks/blob/Assignment_1/Naavantrix_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1 - CRUD Operation on Sales Dataset**
Perform **CRUD** operations on a sales dataset stored in a CSV file. You can choose any Python library or tool for database operations or perform them directly on the CSV file. Implement the following operations:<br>
**Create:** Insert new records into the dataset.<br>
**Read:** Retrieve and display specific records from the dataset.<br>
**Update:** Modify existing records in the dataset.<br>
**Delete:** Remove specific records from the dataset.<br>
Provide a Python script demonstrating each **CRUD** operation with relevant comments and explanations.<br>

In [1]:
# !pip install pandas dash plotly scikit-learn sqlite3

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Collecting dash
  Downloading dash-2.18.2-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (5.24.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [2]:
# !apt-get install sqlite3
# !sqlite3 --version

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 22 not upgraded.
Need to get 768 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.3 [768 kB]
Fetched 768 kB in 0s (3,582 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 124935 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.3_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.3) ...
Setting up sqlite3 (3.37.2-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...
3.37.2 2022-01-06 13:25:41 872ba256cbf61d9290b571c0e6d82a20c224ca3ad82971edc46b29818d5dalt1

## Importing the Libraries

In [16]:
import sqlite3 # Importing SQLite3 to work with SQL dataset
import pandas as pd # importing pandas

## Connect to SQLite database (or create it)

In [26]:
# Connect to SQLite database (or create it)
def connect_db():
    """Establish a connection to the SQLite database and return the connection object."""
    # using try and except functions to handle exceptions
    try:
        conn = sqlite3.connect("sales.db")
        return conn
    except sqlite3.Error as e:
        print("Error connecting to database:", e)
        return None

## Create Sample Table

Create (Insert Data) → The script inserts sample records into an SQLite database.

In [27]:
# Create table
def create_table():
    """Create the sales table if it does not exist."""
    conn = connect_db()
    if conn:
        cursor = conn.cursor()
        cursor.execute('''CREATE TABLE IF NOT EXISTS sales (
                            id INTEGER PRIMARY KEY,
                            product TEXT,
                            quantity INTEGER,
                            price REAL,
                            sale_date TEXT
                        )''')
        conn.commit()
        conn.close() #to properly close the connection to the SQLite database

## Insert Sample Table records

In [28]:
# Insert sample records
def insert_record():
    """Insert a new sales record based on user input."""
    conn = connect_db()
    if conn:
        cursor = conn.cursor()
        # using try and except functions to handle exceptions
        try:
            product = input("Enter product name: ")
            quantity = int(input("Enter quantity: "))
            price = float(input("Enter price: "))
            sale_date = input("Enter sale date (YYYY-MM-DD): ")
            cursor.execute("INSERT INTO sales (product, quantity, price, sale_date) VALUES (?, ?, ?, ?)",
                           (product, quantity, price, sale_date))
            conn.commit()
            print("Record inserted successfully!")
        except Exception as e:
            print("Error inserting record:", e)
        finally:
            conn.close() # to properly close the connection to the SQLite database

## Read Records

Read (Retrieve Data) → It retrieves and displays records using Pandas.

In [29]:
# Read records
def read_records():
    """Retrieve and display all sales records."""
    conn = connect_db()
    if conn:
        df = pd.read_sql_query("SELECT * FROM sales", conn)
        print("\nSales Data:")
        print(df)
        conn.close() # to properly close the connection to the SQLite database

## Update Records

Update (Modify Data) → It updates the price of a product.

In [30]:
# Update record
def update_record():
    """Update an existing record's price based on user input."""
    conn = connect_db()
    if conn:
        cursor = conn.cursor()
        # using try and except functions to handle exceptions
        try:
            product = input("Enter product name to update: ")
            new_price = float(input("Enter new price: "))
            cursor.execute("UPDATE sales SET price = ? WHERE product = ?", (new_price, product))
            conn.commit()
            print("Record updated successfully!")
        except Exception as e:
            print("Error updating record:", e)
        finally:
            conn.close() # to properly close the connection to the SQLite database

## Delete records

In [31]:
# Delete a record
def delete_record():
    """Delete a sales record based on user input."""
    conn = connect_db()
    if conn:
        cursor = conn.cursor()
        # using try and except functions to handle exceptions
        try:
            product = input("Enter product name to delete: ")
            cursor.execute("DELETE FROM sales WHERE product = ?", (product,))
            conn.commit()
            print("Record deleted successfully!")
        except Exception as e:
            print("Error deleting record:", e)
        finally:
            conn.close() # to properly close the connection to the SQLite database

## Display Updated Table

In [32]:
# Display updated table
def main():
    create_table()
    # Using While loop for input conditioning with if and elif
    while True:
        print("\nChoose an operation:")
        print("1. Insert Record")
        print("2. Read Records")
        print("3. Update Record")
        print("4. Delete Record")
        print("5. Exit")
        choice = input("Enter your choice: ")

        if choice == '1':
            insert_record()
        elif choice == '2':
            read_records()
        elif choice == '3':
            update_record()
        elif choice == '4':
            delete_record()
        elif choice == '5':
            print("Exiting program. Goodbye!")
            break
        else:
            print("Invalid choice. Please select a valid option.")

if __name__ == "__main__":
    main()

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: insert record
Invalid choice. Please select a valid option.

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 1
Enter product name: Keyboard
Enter quantity: 5
Enter price: 250
Enter sale date (YYYY-MM-DD): 2025-02-22
Record inserted successfully!

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 2

Sales Data:
   id     product  quantity    price   sale_date
0   1      Laptop         2  1200.50  2024-02-01
1   2  Smartphone         5   749.99  2024-02-02
2   4      Laptop         2  1200.50  2024-02-01
3   5  Smartphone         5   749.99  2024-02-02
4   6      Laptop         2  1200.50  2024-02-01
5   7  Smartphone         5   749.99  2024-02-02
6   8    Keyboard         5   250.00  2025-02-22

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 3
Enter product name to update: Smartphone
Enter new price: 1199.00
Record updated successfully!

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 4
Enter product name to delete: 7
Record deleted successfully!

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 2

Sales Data:
   id     product  quantity   price   sale_date
0   1      Laptop         2  1200.5  2024-02-01
1   2  Smartphone         5  1199.0  2024-02-02
2   4      Laptop         2  1200.5  2024-02-01
3   5  Smartphone         5  1199.0  2024-02-02
4   6      Laptop         2  1200.5  2024-02-01
5   7  Smartphone         5  1199.0  2024-02-02
6   8    Keyboard         5   250.0  2025-02-22

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 4
Enter product name to delete: Smartphone
Record deleted successfully!

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 2

Sales Data:
   id   product  quantity   price   sale_date
0   1    Laptop         2  1200.5  2024-02-01
1   4    Laptop         2  1200.5  2024-02-01
2   6    Laptop         2  1200.5  2024-02-01
3   8  Keyboard         5   250.0  2025-02-22

Choose an operation:
1. Insert Record
2. Read Records
3. Update Record
4. Delete Record
5. Exit
Enter your choice: 5
Exiting program. Goodbye!

## Closing connection

The purpose of conn.close() is to properly close the connection to the SQLite database after completing all database operations. <br>
Why is this important?<br>
	1.	Releases Resources – Closing the connection ensures that system resources (like memory and file handles) are freed.<br>
	2.	Prevents Data Corruption – If a program crashes or terminates unexpectedly without closing the connection, it might leave the database in an inconsistent state.<br>
	3.	Ensures Changes are Saved – Although SQLite automatically commits some changes, explicitly closing the connection ensures all transactions are properly written to the database.<br>